
.center-page
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.center-content
{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    word-wrap: break-word;
}

.google-font-1
{
    font-family: 'Sofia';font-size: 22px;
}

/*
media query - for screen sizes <= 320px
*/
@media screen and (max-with: 320px){
    .center-content
    {
        border: 2px solid red;
        margin:20px
    }

    h1{
        border: 2px solid red;
    }

}


