
.center-page
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.center-content
{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    word-wrap: break-word;
}

.google-font-1
{
    font-family: 'Sofia';font-size: 22px;
}

/*
media query - for screen sizes <= 320px
*/
@media screen and (max-width: 320px){
    .center-content
    {
        margin:20px;
        padding:10px;
    }
}



